<!-- <ion-header>
  <ion-toolbar>
    <ion-title>recipe</ion-title>
  </ion-toolbar>
</ion-header> -->

<!------- PAGE3 ------>
<!----- RECIPE PAGE HERE ----->
<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Recipe
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="recipe_page" style="margin-top: 52px;">
    <div class="recipe_first rounded" style="background-image: url('../../assets/icon/trending1.png');"></div>
    <div class="recepie-body">
      <div class="mt-3">
        <h2 class="font-weight-bold m-0">California Roll with Black Sesame</h2>
        <h6 class="font-weight-bold mt-4">Description</h6>
        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s.</p>
        <h6 class="font-weight-bold mt-4">Extras</h6>
        <div class="rounded border radio-btn-list filter">

          <div class="custom-control border-bottom px-0 custom-checkbox py-3 px-2">
            <div class="text-black extre ps-2">
              Tuna
            </div>
            <div>
              <label class="box text-black">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="custom-control border-bottom px-0 custom-checkbox py-3 px-2">
            <div class="text-black extre ps-2">
              class
            </div>
            <div>
              <label class="box text-black">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="custom-control  px-0 custom-checkbox py-3 px-2">
            <div class="text-black extre ps-2">
              Wasabi
            </div>
            <div>
              <label class="box text-black">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <h6 class="font-weight-bold mt-4">Quantity</h6>
        <div class="select d-flex align-items-center justify-content-between">
          <p class="m-0">1 Item</p>
          <div class="ml-auto">
            <select class="custom-select custom-select-sm my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected="">Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom p-3">
      <a href="profile.html" class="btn btn-primary btn-lg btn-block">Add to order</a>
    </div>
  </div>
</ion-content>