<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Contact us
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 osahan-cart-item" style="margin-top: 50px;">
    <div class="osahan-cart-item-profile bg-white shadow p-3">
      <div class="contact-info flex-column">
        <h6 class="font-weight-bold"><strong>Tell us about yourself</strong></h6>
        <p class="text-muted">Whether you have questions or you would just like to say hello, contact us.</p>
        <form>
          <div class="form-group mt-2">
            <label for="exampleFormControlInput1" class="small font-weight-bold">Your Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Whitney G. Baily">
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlInput2" class="small font-weight-bold">Email Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="youremail@gmail.com">
          </div>
          <div class="form-group mt-2">
            <label for="exampleFormControlInput3" class="small font-weight-bold">Phone Number</label>
            <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="1-800-643-4500">
          </div>
          <div class="form-group mt-2 mb-0">
            <label for="exampleFormControlTextarea1" class="small font-weight-bold">HOW CAN WE HELP YOU?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Hi there, I would like to ..."
              rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>