ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.head {
  &::after {
    display: none;
  }

  background-color: #fff;

  .tooolbar_head {
    background-color: #fff;
    color: #000;

    .head_items {
      margin-right: 20px;
    }
  }
}

.top_slider_items {
  padding-top: 43%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

/*----- ORDER NOW SECTION HERE -----*/
.order {
  margin: 0 6px;

  p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
  }


  .item {
    width: 100%;
    padding-top: 67%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    overflow: hidden;
    position: relative;

    .item_overlay {
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px;

      h5 {
        font-size: 20px;
        font-weight: 550;
        color: #fff;
      }

      p {
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        opacity: 0.7;
      }
    }
  }

  .best_offers {
    padding-top: 58%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
  }
}

/*----- MOST POPULAR SECTION HERE -----*/
.order {
  .list-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

    .list-card-image {
      position: relative;
      padding-top: 70%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .star {
        position: absolute;
        right: 8px;
        bottom: 8px;

        .badge {
          font-size: 11px;
          padding: 5px;
          box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        }

        .badge-success {
          color: #fff;
          background-color: #28a745;
        }
      }

      .favourite-heart {
        right: 8px;
        top: 8px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        position: absolute !important;

        .bookmarke {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover svg {
            fill: #17a2b8 !important;
          }
        }
      }

      .member-plan {
        left: 8px;
        top: 8px;
        position: absolute !important;

        .badge {
          font-size: 11px;
          padding: 5px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }

        .badge-danger {
          background: #f00062;
          color: #fff;
          background-color: #f00062 !important;
        }

        .Promoted {
          color: #fff;
          background-color: #343a40 !important;
          font-weight: 700 !important;
        }
      }
    }

    .list-card-body {
      h6 {
        a {
          color: #5f5959;
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
        }
      }

      .small {
        font-size: 12px;
        font-weight: 500;
        color: #5f5959;
        margin-bottom: 8px;
      }

      .time {
        .time_btn {
          background-color: #f8f9fa;
          margin: 12px 0 18px 0;
          padding: 1px 8px;

          p {
            font-size: 12px;
            font-weight: 500;
            color: #343a40;
            margin: 0;
          }
        }
      }

      ul {
        margin-top: 12px;
        margin-bottom: 18px;

        li {
          .rating_star {
            display: inline-block;
            height: 14px;
            width: 14px;
            border-radius: 3px;
            font-weight: 600;
            background-color: #f5cd25;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .last {
            background-color: #000 !important;
          }
        }
      }
    }

    .list-card-badge {
      .badge-danger {
        background-color: #f00062 !important;
        color: #fff;
        display: inline-block;
        text-align: center;
        border-radius: .25rem;
        font-size: 10px;
        font-weight: 600 !important;
      }

      small {
        display: inline-block;
        text-align: center;
        border-radius: .25rem;
        font-size: 11px;
        font-weight: 600 !important;
        color: #000;
      }
    }
  }

  .sales {
    padding: 8px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  }
}




.hotel_page {
  .hotel_detail {
    background: linear-gradient(45deg, #f00062 0%, #f51042 100%);

    .hotel_head {

      .back {
        .back_btn {
          background: none;
          padding: 0;
        }
      }

      ul {
        li {
          .border {
            background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
            border-color: #f00062;
            color: #fff;
            font-size: 9px;
            min-width: 14px;
            height: 14px;
            position: absolute;
            right: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            top: -3px;
            border: 1px solid #edeff1 !important;
          }

          .menu_icon {
            .bar {
              display: block;
              height: 2px;
              width: 22px;
              background-color: #fff;
              border-radius: 30px;
            }

            .bar_2 {
              margin: 3px 0 !important;
            }
          }
        }
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }

    p {
      font-size: 12px;
      color: rgba(255, 255, 255, .5);
      letter-spacing: 1px;
    }

    .rating-wrap {
      ul {
        .last {
          display: inline-block;
          height: 17px;
          width: 17px;
          border-radius: 3px;
          font-weight: 600;
          background-color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .badge-osahan {
      display: inline-block;
      font-weight: 400;
      font-size: 11px;
      padding: 3px 6px;
      text-transform: uppercase;
      color: #212529;
      background-color: #ffc107;
      border-radius: 2px;
    }

    .badge-dark {
      color: #fff;
      background-color: #343a40;
    }
  }

  .menu {
    padding: 15px 10px;

    p {
      font-size: 12px;
      font-weight: 600;
      color: #5f5959;
      letter-spacing: .2px;
    }

    .view {
      font-size: 12px;
      font-weight: 600;
      color: #f51042;
      letter-spacing: .2px;
    }
  }

  .bites {
    padding: 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #edeff1;

    span {
      font-size: 11px;
      font-weight: 400;
      color: rgba(0, 0, 0, .5);
    }
  }



  .add_itms {
    padding: 13px 10px;
    border-bottom: 1px solid #edeff1;

    .nonveg_icon {
      border: 1px solid #f51042;
      height: 18px;
      width: 18px;
      border-radius: 5px;
    }

    h6 {
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      color: #6c757d;
    }

    .add_btn_div {

      .add_btn {
        height: 26px;
        font-size: 11px;
        font-weight: 600;
        background: #fff3f4;
        border: 1px solid #f51042;
        color: #f51042;
        cursor: pointer;
        padding: .25rem .5rem;
        border-radius: .2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #f51042;
          color: #fff;
        }
      }
    }
  }
}