<ion-header class="head bg-white" [translucent]="true">
  <ion-toolbar class="tooolbar_head bg-white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="head_items d-flex align-items-center justify-content-between">
      <div>
        {{ folder }}
      </div>
      <div class="search_icon d-flex align-items-center justify-content-center">
        <img src="assets/icon/search.svg" alt="search" height="25" width="25">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="mx-2">
  <!----- TOP SLIDER SECTION HERE ----->
  <ion-slides class="mb-3" #sliders (ionSlidesDidLoad)='slidesDidLoad(sliders) ' pager='false' [options]='slideOps'>
    <ion-slide class="top_slider_items" style="background-image: url('../../assets/icon/EBOGO OLO Banner.jpg');">
    </ion-slide>
    <ion-slide class="top_slider_items" style="background-image: url('../../assets/icon/pizza-long-banner.jpg');">
    </ion-slide>
    <ion-slide class="top_slider_items" style="background-image: url('../../assets/icon/Restaurant.jpg');">
    </ion-slide>
    <ion-slide class="top_slider_items" style="background-image: url('../../assets/icon/EBOGO OLO Banner.jpg');">
    </ion-slide>
    <ion-slide class="top_slider_items" style="background-image: url('../../assets/icon/pizza-long-banner.jpg');">
    </ion-slide>
  </ion-slides>
  <!----- ORDER NOW SECTION HERE ----->
  <div class="order">
    <p>Order now</p>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="item" style="background-image: url('assets/icon/pizza.jpg');">
          <div class="item_overlay">
            <h5 class="m-0">Pizza</h5>
            <p class="m-0">28 items availavle</p>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="item" style="background-image: url('assets/icon/sides.jpg');">
          <div class="item_overlay">
            <h5 class="m-0">Sides</h5>
            <p class="m-0">18 items availavle</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d_f_between mb-3">
      <div class="col_6">
        <div class="item" style="background-image: url('assets/icon/Juices.jpg');">
          <div class="item_overlay">
            <h5 class="m-0">Beverages</h5>
            <p class="m-0">12 items availavle</p>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="item" style="background-image: url('assets/icon/desserts.jpg');">
          <div class="item_overlay">
            <h5 class="m-0">Desserts</h5>
            <p class="m-0">19 items availavle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----- BEST SELLER SECTION HERE ----->
  <div class="order mb-3">
    <p>Best seller</p>
    <ion-slides #sliders (ionSlidesDidLoad)='slidesDidLoad(sliders) ' pager='true' [options]='slideOps'>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
      <ion-slide class="best_offers rounded" style="background-image: url('../../assets/icon/banner.png');">
      </ion-slide>
    </ion-slides>
  </div>
  <!----- MOST POPULAR SECTION HERE ----->
  <div class="order mb-3">
    <p>Most Popular</p>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular1.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular2.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular3.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular4.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----- MOST SALES SECTION HERE ----->
  <div class="order mb-3">
    <p>Most sales</p>
    <div class="mb-3">
      <div class="col-12">
        <div class="list-card sales d-flex bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image rounded"
            style="background-image: url('../../assets/icon/sales1.png'); padding-top: 25%; width: 40%;">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger Promoted">
                Promoted
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <div class="time">
                <button class="time_btn d-flex align-items-center">
                  <span class="d-inline-block d-flex align-items-center justify-content-center pe-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="#343a40"
                      class="bi bi-stopwatch" viewBox="0 0 16 16">
                      <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                      <path
                        d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                    </svg>
                  </span>
                  <p>15-25 min</p>
                </button>
              </div>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="col-12">
        <div class="list-card sales d-flex bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image rounded"
            style="background-image: url('../../assets/icon/sales2.png'); padding-top: 25%; width: 40%;">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger Promoted">
                Promoted
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="col-12">
        <div class="list-card sales d-flex bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image rounded"
            style="background-image: url('../../assets/icon/sales3.png'); padding-top: 25%; width: 40%;">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger Promoted">
                Promoted
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="col-12">
        <div class="list-card sales d-flex bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image rounded"
            style="background-image: url('../../assets/icon/popular4.png'); padding-top: 25%; width: 40%;">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger Promoted">
                Promoted
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----- RESTURENT DETAILS SECTION HERE ----->
  <div class="hotel_page mb-3">
    <div class="hotel_detail">
      <div class="hotel_head d-flex align-items-center justify-content-between">
        <div class="back">
          <button class="back_btn d-flex align-items-center gap-1">
            <span class="d-inline-block d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </span>
            Back
          </button>
        </div>
        <div class="side_menu">
          <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
            <li class="d-flex align-items-center justify-content-center position-relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-chat-left"
                viewBox="0 0 16 16">
                <path
                  d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              </svg>
              <span class="border">3</span>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-star"
                viewBox="0 0 16 16">
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
              </svg>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
              </svg>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" class="bi bi-telephone-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
              </svg>
            </li>
            <li>
              <div class="menu_icon">
                <span class="bar"></span>
                <span class="bar bar_2"></span>
                <span class="bar"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="px-3 pt-4 pb-3">
        <div>
          <h2 class="font-weight-bold text-white">Conrad Chicago Restaurant</h2>
          <p class="font-weight-light text-white-50 m-0">963 Madyson Drive Suite 679</p>
          <div class="rating-wrap d-flex align-items-center mt-2">
            <ul class="list-unstyled d-flex align-items-center gap-1 m-0 pe-1">
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span _ngcontent-vdy-c143="" class="last">
                  <svg _ngcontent-vdy-c143="" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#ffffff"
                    viewBox="0 0 16 16" class="bi bi-star">
                    <path _ngcontent-vdy-c143=""
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
            </ul>
            <p class="label-rating text-white-50 ml-2 small m-0"> (245 Reviews)</p>
          </div>
        </div>
        <div class="pt-4">
          <div class="row">
            <div class="col-6">
              <p class="m-0 small text-white">Delivery <span class="badge badge-osahan badge-warning small">Free</span>
              </p>
            </div>
            <div class="col-6">
              <p class="m-0 small text-white">Open time <span class="badge badge-osahan badge-dark small">8:00
                  AM</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu d-flex align-items-center justify-content-between">
      <p class="m-0">Menu</p>
      <p class="view d-flex align-items-center m-0">
        View
        <span class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f51042"
            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </span>
      </p>
    </div>
    <div class="add">
      <div class="bites">
        Quick Bites <span>3 ITEMS</span>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Cheese corn Roll </h6>
            <p class="m-0">$600</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
    </div>
    <div class="add">
      <div class="bites pt-4">
        Quick Bites <span>3 ITEMS</span>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Cheese corn Roll </h6>
            <p class="m-0">$600</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>