<!-- <ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header> -->

<!------- PAGE4 ------>
<!----- ORDER PAGE HERE ----->
<ion-content>
  <div class="order_page">
    <div class="hotel_head d-flex align-items-center justify-content-between">
      <div class="back">
        <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
          <span class="d-inline-block d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </span>
          Order
        </button>
      </div>
      <div class="side_menu">
        <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
          <li class="d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
            </svg>
          </li>
          <li>
            <ion-buttons slot="start" style="color: #000;">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </li>
        </ul>
      </div>
    </div>
    <div class="chattori_street d-flex align-items-center mb-3" style="margin-top: 60px;">
      <div class="item_img me-2" style="background-image: url('../../assets/icon/starter1.jpg');">
      </div>
      <div class="location">
        <h6 class="mb-1">The Chatori Street</h6>
        <p class="mb-0">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
              viewBox="0 0 16 16">
              <path
                d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
          </span>
          Ramdaspeth, Nagpur, Maharashtra
        </p>
      </div>
    </div>
    <!----- PORDER TABLE SECTION HERE ----->
    <div class="orders mb-3">
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Chicken Tikka Sub
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="2" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Methi Chicken Dry
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="5" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Reshmi Kebab
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="3" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Lemon Cheese Dry
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="6" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Rara Paneer
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="8" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Special Lemon Cheese
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="3" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
      <div class="order_item d-flex align-items-center justify-content-between">
        <div class="veg_non d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <p class="m-0">
            Tandoori Chicken
          </p>
        </div>
        <div class="order_count">
          <div class="d-flex align-items-center">
            <div class="osahan-quantity me-2">
              <input type="button" value="-" class="minus">
              <input type="text" name="quantity" value="p" title="Qty" class="qty" size="4">
              <input type="button" value="+" class="plus">
            </div>
            <p class="text-gray d-flex align-items-center mb-0 float-right ml-2 text-muted small">$628</p>
          </div>
        </div>
      </div>
    </div>
    <!----- PROMO CODE SECTION HERE ----->
    <div class="promocode mb-3 shadow bg-white clearfix">
      <div class="input-group-sm mb-2 input-group">
        <input placeholder="Enter promo code" type="text" class="form-control">
        <div class="input-group-append">
          <button id="button-addon2" type="button" class="btn btn-primary">
            <span class="me-1">%</span>
            APPLY
          </button>
        </div>
      </div>
      <div class="mb-0 input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <img src="assets/icon/message(1).png" alt="">
          </span>
        </div>
        <textarea placeholder="Any suggestions? We will pass it on..." aria-label="With textarea" class="form-control"
          style="height: 100px;">
        </textarea>
      </div>
    </div>
    <!----- TOTAL PAY SECTION HERE ----->
    <div class="total_pay shadow bg-white mb-3 clearfix text-black">
      <p class="mb-1">Item Total
        <span class="float-end text-dark">
          $3140
        </span>
      </p>
      <p class="mb-1">
        Restaurant Charges
        <span class="float-end text-dark">
          $62.8
        </span>
      </p>
      <p class="mb-1">
        Delivery Fee
        <span class="text-info ml-1">
          <i class="icofont-info-circle"></i>
        </span>
        <span class="float-end text-dark">
          $10
        </span>
      </p>
      <p class="mb-1 text-success">
        Total Discount
        <span class="float-end text-success">
          $1884
        </span>
      </p>
      <hr>
      <h6 class="font-weight-bold mb-0">
        TO PAY
        <span class="float-end">
          $1329
        </span>
      </h6>
    </div>
    <!----- PROCEED SECTION HERE ----->
    <div class="fixed-bottom">
      <a
        class="btn proceed btn-block btn-lg text-white rounded shadow text-decoration-none d-flex align-items-center shadow">
        <div class="add_cart d-flex align-items-center justify-content-center pe-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </div>
        <div class="ms-3 text-left">
          <p class="mb-0 item text-white-50">5 item</p>
          <p class="mb-0 font-weight-bold text-white">$235,50.00</p>
        </div>
        <div class="ms-auto">
          <p class="mb-0 text-white">
            Proceed to cart
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </span>
          </p>
        </div>
      </a>
    </div>
  </div>
</ion-content>