<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Back to login
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 osahan-cart-item" style="margin-top: 50px;">
    <div class="osahan-cart-item-profile bg-white shadow p-3">
      <h1>Forgot password</h1>
      <p>
        Enter your email address below and we'll send you an email with instructions on how to change your password
      </p>
      <div class="col-md-12 form-group mt-3">
        <label class="form-label mb-1 small">Email</label>
        <div class="input-group">
          <input placeholder="Email" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-12 form-group mt-2">
        <label class="form-label mb-1 small">Password</label>
        <div class="input-group">
          <input placeholder="Password" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-12 form-group mt-2">
        <label class="form-label mb-1 small">New Password</label>
        <div class="input-group">
          <input placeholder="New Password" type="text" class="form-control">
        </div>
      </div>
      <button type="button" class="save-btn mt-4 mb-4">
        Save Password
      </button>
    </div>
  </div>
</ion-content>