.osahan-cart-item {
    .profile {
        .left {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-image: url('../../assets/icon/reviewer3.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .right {
            h6 {
                font-size: 14px;
                font-weight: 600;
            }

            .text-muted {
                font-size: 13px;
            }
        }
    }

    .osahan-credits {
        p {
            font-size: 14px;
            font-weight: 600;
        }

        h6 {
            font-size: 14px;
            font-weight: 500;
            color: #f51042;
        }
    }
}



.accordian-box {
    margin-top: 20px;

    .accordion {
        border-radius: none !important;

        .accordion-item {
            .accordion-header {
                .accordion-button {
                    box-shadow: none;
                    padding: 10px 14px;
                    background-color: #fff;
                    color: #f51042;
                    font-size: 13px;

                    span {
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    &:hover {
                        color: #0056b3;
                    }
                }
            }

            #collapseOne {
                .accordion-body {
                    padding: 10px 13px;

                    .new-card {
                        font-size: 12px;
                        color: #5f5959;
                    }

                    .form-label {
                        font-weight: 600;
                        padding-left: 4px;
                    }

                    .input-group-append {
                        #button-addon2 {
                            border-radius: 0 5px 5px 0;
                            border: 1px solid #ced4da;
                            outline: none;
                        }
                    }

                }

                .security-check {
                    padding-top: 22px;

                    .checkout-next {
                        font-size: 12px;
                        color: #5f5959;
                    }
                }


                /*----- CUSTOM CHECKBOX SCSS HERE -----*/
                .box {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                /* Hide the browser's default checkbox */
                .box input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: -1px;
                    right: -17px;
                    height: 18px;
                    width: 18px;
                    background-color: #fff;
                    border: 1px solid #adb5bd;
                    border-radius: 4px;
                    top: -21px !important;
                }

                /* On mouse-over, add a grey background color */
                .box:hover input~.checkmark {
                    // background-color: #;
                }

                /* When the checkbox is checked, add a blue background */
                .box input:checked~.checkmark {
                    background: linear-gradient(45deg, #d92662 0%, #e23744 100%);
                    border-color: #f00062;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                .box input:checked~.checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .box .checkmark:after {
                    left: 5px;
                    top: 3px;
                    width: 7px;
                    height: 10px;
                    border: solid white;
                    border-top-width: medium;
                    border-right-width: medium;
                    border-bottom-width: medium;
                    border-left-width: medium;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }

            #collapseTwo {
                .accordion-body {
                    padding: 10px 13px;

                    .new-card {
                        font-size: 12px;
                        color: #5f5959;
                    }

                    .form-label {
                        font-weight: 600;
                        padding-left: 4px;
                    }

                    .input-group-append {
                        #button-addon2 {
                            border-radius: 0 5px 5px 0;
                            border: 1px solid #ced4da;
                            outline: none;
                        }
                    }

                    ul {
                        width: 100%;
                        margin-top: 20px;

                        li {
                            flex: 1;

                            .bank-btn {
                                width: 100%;
                                color: #000;
                                font-size: 14px;
                                padding: 7px 0;
                                background: none;
                                border: 1px solid #6c757d;
                                font-weight: 600;

                                &:focus {
                                    background-color: #6c757d;
                                    border-color: #6c757d;
                                    color: #fff;
                                    box-shadow: 0 0 5pt 2pt #D3D3D3;
                                }
                            }

                            .bank-btn.active {
                                background-color: #6c757d;
                                border-color: #6c757d;
                                color: #fff;
                                box-shadow: 0 0 5pt 2pt #D3D3D3;
                            }

                            .mid-bank-btn {
                                border-left: none;
                                border-right: none;
                            }

                            .bank-btn-first {
                                border-radius: 5px 0 0 5px;
                            }

                            .bank-btn-last {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                    }

                    .select {
                        margin-top: 20px;

                        p {
                            letter-spacing: .2px;
                            font-weight: 400;
                            font-size: 12px;
                            color: #5f5959;
                        }

                        .form-label {
                            font-weight: 600;
                        }

                        .custom-select {
                            display: inline-block;
                            width: 100%;
                            height: calc(1.5em + .75rem + 2px);
                            padding: .375rem 1.75rem .375rem .75rem;
                            padding-top: 0.375rem;
                            padding-bottom: 0.375rem;
                            padding-left: 0.75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #495057;
                            vertical-align: middle;
                            background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
                            border: 1px solid #ced4da;
                            border-radius: .25rem;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                        }
                    }
                }
            }

            #collapseThree {
                .accordion-body {
                    .cash-on {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}