<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Profile
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 osahan-cart-item" style="margin-top: 50px;">
    <div class="osahan-cart-item-profile bg-white shadow">

      <div class="profile d-flex align-items-center border-bottom pb-2 gap-2 p-3">
        <div class="left mr-3"></div>
        <div class="right">
          <h6 class="mb-0 font-weight-bold">Nellie H. Riggs <i class="feather-check-circle text-success"></i></h6>
          <p class="text-muted m-0 small">yourmail@gmail.com</p>
        </div>
      </div>

      <div class="osahan-credits d-flex align-items-center justify-content-between pt-2  p-3">
        <p class="m-0">Accounts Credits</p>
        <h6 class="m-0 ml-auto">$52.25</h6>
      </div>
    </div>


    <div class="accordian-box">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <span><img src="../../assets/icon/credit-card.png" alt=""></span>Add Credit/Debit Card
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Add card</strong>
              <p class="new-card">WE ACCEPT <strong>( Master Card / Visa Card / Rupay )</strong></p>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Card number</label>
                <div class="input-group">
                  <input placeholder="Card number" type="number" class="form-control">
                  <div class="input-group-append">
                    <button id="button-addon2" type="button" class="btn">
                      <img src="../../assets/icon/credit-card.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Valid through(MM/YY)</label>
                <div class="input-group">
                  <input placeholder="Valid through(MM/YY)" type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">CVV</label>
                <div class="input-group">
                  <input placeholder="CVV" type="number" class="form-control">
                </div>
              </div>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Name on card</label>
                <div class="input-group">
                  <input placeholder="Name on card" type="number" class="form-control">
                </div>
              </div>
              <div class="security-check d-flex align-items-center">
                <div class="custom-control  px-0 custom-checkbox">
                  <label class="box text-black">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <p class="checkout-next mb-0 ps-4">Securely save this card for a faster checkout next time.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span><img src="../../assets/icon/globe.png" alt=""></span>Address
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Delivery Area</label>
                <div class="input-group">
                  <input placeholder="Delivery Area" type="number" class="form-control">
                  <div class="input-group-append">
                    <button id="button-addon2" type="button" class="btn">
                      <img src="../../assets/icon/location.png" alt="">
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Complete Address</label>
                <div class="input-group">
                  <input placeholder="Complete Address" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12 form-group mt-2">
                <label class="form-label mb-1 small">Delivery Instructions</label>
                <div class="input-group">
                  <input placeholder="Delivery Instructions" type="text" class="form-control">
                </div>
              </div>
              <ul class="list-unstyled
               d-flex align-items-center w-100">
                <li>
                  <button class="bank-btn bank-btn-first active">
                    Home
                  </button>
                </li>
                <li>
                  <button class="bank-btn mid-bank-btn">
                    Work
                  </button>
                </li>
                <li>
                  <button class="bank-btn bank-btn-last">
                    Other
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>