/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@300;400;600;700;900&display=swap');


body {
    font-family: 'Poppins' !important;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}

.d_f_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d_f_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col_6 {
    width: 49%;
}

:host {
    fill: #000 !important;
}


/*----- CUSTOM CHECKBOX SCSS HERE -----*/
.box {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    right: 10px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    top: -21px !important;
}

/* On mouse-over, add a grey background color */
.box:hover input~.checkmark {
    // background-color: #;
}

/* When the checkbox is checked, add a blue background */
.box input:checked~.checkmark {
    background: linear-gradient(45deg, #d92662 0%, #e23744 100%);
    border-color: #f00062;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.box input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box .checkmark:after {
    left: 5px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*----- PROCEED SECTION SCSS HERE -----*/
.fixed-bottom {
    padding: 10px;

    .proceed {
        background-color: #28a745;
        border-color: #28a745;
        transition: all 0.4s ease-in-out;

        .add_cart {
            border-right: 1px solid #fff !important;
        }

        .item {
            font-size: 12px;
            font-weight: 400;
        }

        p {
            font-size: 15px;
            font-weight: 600;
        }

        &:hover {
            background-color: #e23744;
        }
    }


}

/*----- VEG AND NON VEG ICON SCSS HERE -----*/
.nonveg_icon {
    border: 1px solid #f51042;
    height: 18px;
    width: 18px;
    border-radius: 5px;
}

.nonveg_veg {
    border-color: #28a745;
}






/*----- MOST POPULAR SECTION SCSS HERE -----*/
.order {
    .list-card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

        .list-card-image {
            position: relative;
            padding-top: 70%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .star {
                position: absolute;
                right: 8px;
                bottom: 8px;

                .badge {
                    font-size: 11px;
                    padding: 5px;
                    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                }

                .badge-success {
                    color: #fff;
                    background-color: #28a745;
                }
            }

            .favourite-heart {
                right: 8px;
                top: 8px;
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                position: absolute !important;

                .bookmarke {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover svg {
                        fill: #17a2b8 !important;
                    }
                }
            }

            .member-plan {
                left: 8px;
                top: 8px;
                position: absolute !important;

                .badge {
                    font-size: 11px;
                    padding: 5px;
                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                }

                .badge-danger {
                    background: #f00062;
                    color: #fff;
                    background-color: #f00062 !important;
                }

                .Promoted {
                    color: #fff;
                    background-color: #343a40 !important;
                    font-weight: 700 !important;
                }
            }
        }

        .list-card-body {
            h6 {
                a {
                    color: #5f5959;
                    font-size: 1rem;
                    font-weight: 600;
                    text-decoration: none;
                }
            }

            .small {
                font-size: 12px;
                font-weight: 500;
                color: #5f5959;
                margin-bottom: 8px;
            }

            .time {
                .time_btn {
                    background-color: #f8f9fa;
                    margin: 12px 0 18px 0;
                    padding: 1px 8px;

                    p {
                        font-size: 12px;
                        font-weight: 500;
                        color: #343a40;
                        margin: 0;
                    }
                }
            }

            ul {
                margin-top: 12px;
                margin-bottom: 18px;

                li {
                    .rating_star {
                        display: inline-block;
                        height: 14px;
                        width: 14px;
                        border-radius: 3px;
                        font-weight: 600;
                        background-color: #f5cd25;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .last {
                        background-color: #000 !important;
                    }
                }
            }
        }

        .list-card-badge {
            .badge-danger {
                background-color: #f00062 !important;
                color: #fff;
                display: inline-block;
                text-align: center;
                border-radius: .25rem;
                font-size: 10px;
                font-weight: 600 !important;
            }

            small {
                display: inline-block;
                text-align: center;
                border-radius: .25rem;
                font-size: 11px;
                font-weight: 600 !important;
                color: #000;
            }
        }
    }

    .sales {
        padding: 8px !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
    }
}



.hotel_head {
    background: #fff;
    color: #000 !important;
    fill: #000 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.back {
    padding-left: 10px;
}